.card-container{
    margin: 120px auto;
    padding: 0 50px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;

}





@media screen and (max-width: 1000px) {
    .card-container {
            grid-template-columns: repeat(2, 1fr); 
        }
}