.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    
}
.logo-container img{
    width: 70px;
}
.route-container a{
    text-decoration: none;
    margin-right: 20px;
    color: rgb(0, 5, 7);
    font-weight: 600;
}
.route-container a:hover{
    color: brown;
}