.blogs-container{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding-top: 10%;
}

.blogs-container div{
    padding: 20px;
    border-radius: 15px;
    border: 1.5px solid #ccc;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}


.blogs-container div> h1{
    font-size: 25px;
    color: rgb(19, 89, 194);
}
.blogs-container div> p{
    font-size: 14px;
    font-style:oblique;
}